<div class="parent-component"> <!-- Contenedor padre para el fondo -->
  
  <main class="contenedor principal">
      <div class="contenedor-textos">
          <h1 class="titulo">Bienvenido a tu Biblioteca-MD</h1>
          <p class="copy">Haz registro de tus libros y autores de  forma sencilla</p>
          <a [routerLink]="['/registro']" routerLinkActive="router-link-active" class="cta">Hazlo ya</a>
      </div>
      <img class="ilustracion" src="img/undraw_reading_book_re_kqpk.svg" alt="Ilustración de lectura">
  </main>
</div>