.custom-navbar {
    position: relative;
    background: #8d2de2b2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b00e06e, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b00e069, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px 0;
    overflow: hidden;
    height: 80px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.nav-container img{
    object-fit: cover;
    height: 50%;
    width: 80px;
    
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
   
}

.navbar-nav {
    display: flex;
    flex-direction: row; /* Los elementos estarán en fila horizontal */
  
    gap: 20px; /* Espacio entre los elementos */
}
.navbar-nav .nav-link {
    color: #b5eae7; /* Color del texto del menú */
    font-size: 16px;
    padding: 8px 16px;
}

@media screen and (max-width:800px){
    .nav-container{
        justify-content: space-evenly;
    }
    
}